@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Prof>

<div class="container mt-5">
    <h2>List Profs</h2>
    <form method="get" action="@Url.Action("AllProfs")" class="mb-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" id="searchName" name="searchName" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
    <a asp-action="AllProfsPDF" asp-controller="Prof" class="btn btn-primary">Download PDF</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Cours designation</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prof in Model)
            {
                <tr>
                    <td>@prof.Prenom</td>
                    <td>@prof.Nom</td>
                    <td>@prof.Cours.Designation</td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@prof.Id_Prof" class="text-danger ml-1" onclick="return confirm('Are you sure to delete this Prof?')"><i class="fa fa-trash-alt fa-lg">Delete</i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>